<% if @subjects.empty? %>
  <h3 class="info">まだ投稿されていません</h3>
<% else %>
  <h3 class="info">好きな項目をクリックしてください</h3>
  <div class="contents">
    <% @subjects.each do |subject| %>
      <div class="content"> 
        <%= link_to "#{subject.title}", subject_path(subject.id), class: "content_title" %>
      </div>
    <% end %>
  </div> 
<% end %>